<input type="text" name="{{ field.name }}" value="{{ cstruct }}"
        {% if field.widget.size %}
       size="{{ field.widget.size }}"
        {% endif %}
        {% if field.widget.css_class %}
       class="{{ field.widget.css_class }}"
        {% endif %}
       id="{{field.oid}}"
        {% if field.description %}
       title="{{ _(field.description) }}"
        {% endif %}/>
{% if field.widget.mask %}
    <script type="text/javascript">
        deform.addCallback(
                '{{field.oid}}',
                function (oid) {
                    $("#" + oid).mask("{{ field.widget.mask }}",
                            {placeholder:"{{ field.widget.mask_placeholder }}"}).tooltip({'position': { my: 'left center', at: 'right+10 center' }, 'tooltipClass': 'right'});
                });
    </script>
{% else %}
    <script type="text/javascript">
        //http://jsfiddle.net/kyBwU/2114/
        deform.addCallback(
                '{{field.oid}}',
                function (oid) {
                    $("#" + oid).tooltip({'position': { my: 'left center', at: 'right+10 center' }, 'tooltipClass': 'right'});
                });
    </script>
{% endif %}
